# Configuration for cargo-deny
#
# See https://embarkstudios.github.io/cargo-deny/index.html for documentation.

[graph]
targets = []
all-features = false
no-default-features = false

[output]
feature-depth = 1

[advisories]
ignore = []

[licenses]
# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.11 short identifier (+ optional exception)].
allow = [
    "BSD-3-Clause",
    "MIT",
    "Apache-2.0",

    # The LLVM-exception allows any copying of parts of the software that ends up
    # in the final binary, so more permissive than plain Apache 2.0.
    # This is used by cranelift crates.
    "Apache-2.0 WITH LLVM-exception",

    # Used by foldhash, which we depend on via hashbrown via cranelift.
    "Zlib",

    # Used by unicode-ident.
    "Unicode-3.0",
]
confidence-threshold = 0.8
exceptions = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []
deny = []
skip = []
skip-tree = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
gitlab = []
bitbucket = []
