name: ci
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [1.85.0, stable, beta, nightly]

        # Test with no features, default features ("") and all features.
        # Ordered fewest features to most features.
        args: ["--no-default-features", "", "--all-features"]

        include:
          # Run all variations on x86_64-unknown-linux-gnu
          - target: x86_64-unknown-linux-gnu

          # Run a static build on x86_64-unknown-linux-musl for stable Rust
          # only to save some cycles.
          - target: x86_64-unknown-linux-musl
            rust: stable
    steps:
    - name: Run apt-get update
      if: matrix.target == 'x86_64-unknown-linux-musl'
      run: sudo apt-get update
    - name: Install musl
      if: matrix.target == 'x86_64-unknown-linux-musl'
      run: sudo apt-get install -y musl-dev
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
        targets: ${{ matrix.target }}
    - run: cargo build --target=${{ matrix.target }} --verbose ${{ matrix.args }}
    - run: cargo test --target=${{ matrix.target }} --verbose ${{ matrix.args }}

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Test with no features, default features ("") and all features.
        # Ordered fewest features to most features.
        args: ["--no-default-features", "", "--all-features"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: stable
    - run: cargo clippy --all ${{ matrix.args }}

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: stable
    - run: cargo fmt --all

  doc:
    name: Check rustdoc warnings
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Test with no features, default features ("") and all features.
        # Ordered fewest features to most features.
        args: ["--no-default-features", "", "--all-features"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: stable
    - name: Run rustdoc
      run: RUSTDOCFLAGS="-D warnings" cargo doc ${{ matrix.args }}

  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: EmbarkStudios/cargo-deny-action@v2
      with:
        # We don't check advisories
        command: check bans licenses sources

  miri:
    name: Test with MIRI
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: nightly
        components: miri
    - name: Run MIRI
      run: MIRIFLAGS="-Zmiri-disable-isolation" cargo +nightly miri test

  valgrind:
    name: Test with Valgrind
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - name: Run apt-get update
      run: sudo apt-get update
    - name: Install Valgrind
      run: sudo apt-get install -y valgrind
    - name: Install Just
      run: sudo apt-get install -y just
    - name: Install cargo-valgrind
      run: cargo install cargo-valgrind
    - name: Run Valgrind
      run: just valgrind
